@baseColor: #3e3e3e;

// Shades
@difference: 10%; // Difference (in perecent) between each shade
@lighten4: lighten(@baseColor, (@difference * 6));
@lighten3: lighten(@baseColor, @difference * 2);
@lighten2: lighten(@baseColor, (@difference * 1.5));
@lighten1: lighten(@baseColor, @difference);
@shade3: @baseColor;
@darken1: darken(@baseColor, @difference * 0.4);
@darken2: darken(@baseColor, @difference * 0.9);
@darken4: darken(@baseColor, (@difference * 2));
@darken4: darken(@baseColor, @difference * 3);
@darken5: darken(@baseColor, (@difference * 4));
@textColor: white;
.blue{
  color: blue;
}
.coral{
 color: coral;
}
.dodgerBlue{
color: dodgerblue;
}
.springGree{
color: springgreen;
}
.yellowGreen{

  color: yellowgreen;
}
.green{
  color: green;
}
.orangeRed{
color: orangered;
}
.goldenRod {
  color: goldenrod;
}
.hotPink{
color: hotpink;
}
.cadetBlue{
  color: cadetblue;
}
.seaGreen{
color: seagreen;
}
.chocolate{
color: chocolate;
}
.blueViolet{
color: blueviolet;
}
.firerick{
color: firebrick;
}